<md-toolbar layout="row" class="site-content-toolbar">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav()" class="md-icon-button" hide-gt-md aria-label="Toggle Menu">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h1>Last.fm Visualizer</h1>
    </div>
</md-toolbar>
<md-content md-scroll-y flex layout-padding>
    <div flex layout="row">
        <md-card flex="50">
            <md-card-content>
                Oh No! You made a big mistake.<br />
                They're coming for you now.
                <a href="/">Run</a>
            </md-card-content>
        </md-card>
    </div>
</md-content>