<md-toolbar layout="row" class="site-content-toolbar">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav()" class="md-icon-button" hide-gt-md aria-label="Toggle Menu">
          <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h1>Last.fm Visualizer</h1>
    </div>
</md-toolbar>
<md-content md-scroll-y flex layout-padding>
    <div flex layout="row" layout-sm="column">
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">Process Your Last.fm Data</h2>
                <username-picker
                        username="username"
                        on-change="changeUsername($username)">
                </username-picker>
            </md-card-content>
        </md-card>
        <md-card flex>
            <md-card-content>
                <h2 class="md-title">View an Example User</h2>
                <section layout="row" layout-align="left center">
                    <md-button ng-href="/d/johnvbs" class="md-primary">johnvbs</md-button>
                    <md-button ng-href="/d/lumby" class="md-primary">lumby</md-button>
                </section>
            </md-card-content>
        </md-card>
    </div>
</md-content>