<div class="track-chart">
    <h2>
        Top Artists
        <md-select ng-model="maxBuckets">
            <md-option>1</md-option>
            <md-option>2</md-option>
            <md-option>3</md-option>
            <md-option>4</md-option>
            <md-option>5</md-option>
            <md-option>10</md-option>
            <md-option>20</md-option>
            <md-option>30</md-option>
            <md-option>50</md-option>
            <md-option>100</md-option>
        </md-select>
    </h2>
    <pie-chart tracks="tracksByArtist"></pie-chart>
</div>
